body { 
  background: url('acd.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
 position: center;
  background-size: cover;
 margin-top: 40px; 
    width: 320px;
    height: 525px;
 border-radius: 40px 40px 40px 40px ; 
 border-width: 8px;
 border-style: double;
 
}
.section-1 {
	text-shadow: 2px 2px black;
	font-family:"Comic Sans MS", cursive;
	position: center;
	margin-top: 0px;
	text-align: center;
	height: 40px;
	color: #e60000;
}
.section-2 {
    font-size:28px;
	margin-top: 60px;
	text-align: center;
	height: 25px;
	/*background color: #83AB91;*/
}
.section-3 {
	font-size: 35px;
	margin-top: 30px;
	text-align: center;
	color: blue;
	text-shadow: 2px 2px black;
}
.section-4 {
	text-shadow: 2px 2px #FF0000;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
    color: yellow;
}
hr {
height: 2px;
color: #123455;
background-color: #123455;
border: none;
}



